:root {
    --activ-color: #2196F3;
    --main-text-color: #212121;

}

body {
font-family: 'Roboto', 'Open Sans', -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
    letter-spacing: 0.03em;
}
/* header */
.header {
    background-color: #FFFFFF; 
    letter-spacing: 0.02em;
    
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.logo-color {
color: var(--activ-color);
}

.site-nav .link {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover, .site-nav .link:focus{
    color: var(--activ-color)
}

.site-nav li{
    list-style: none;
}

.header-contact .link{
    font-size: 14px;
    line-height: 1.14;
    color:#757575;
    text-decoration: none;
}
.header-contact .link:hover, .header-contact .link:focus{
    color: var(--activ-color);
}
.header-contact li{
    list-style: none;
}

.section-title {
    font-size: 36px;
    line-height:1.0769;
    text-align: center;
    letter-spacing: 0.03em;
    
        color: #212121;
}

/* цвет основного текста #212121*/
/* вторичній цвет текста #757575 */
/* цвет телефона в хедер #757575 */
/* цвет при наведении #2196F3 --activ-color*/
/* Заголовок hero #FFFFFF */
/* контакті в футере rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #F5F4FA */
